.nav-enlace{
    display: inline-block;
    background:blue;
    color: #fff;
    padding: 30px 70px;
    text-decoration: none;
}

.nav-enlace:hover{
    background: rgb(0, 0, 0);
}

nav {
    background: rgb(158, 158, 158);
    padding: 80px;
    margin: 30px;
    display: flex;
    justify-content: space-around;
}

h1{
    font-size: 50px;
    margin: 20px;
    padding: 30px;
    text-align: center;
}